### Написать программу, которая вычисляет площадь фигуры, параметры которой подаются на вход. Фигуры, которые подаются на вход: треугольник, прямоугольник, круг. Результатом работы является словарь, где ключ – это название фигуры, а значение – это площадь.

In [1]:
def triangle(a, h):
    return {'triangle':0.5 * a * h}

In [2]:
def rectangle(a, b):
    return {'square':a * b}

In [3]:
def circle(r):
    return {'circle': 3.14 * r * r}

In [8]:
def area(shape):
    if shape == 'triangle':
        return triangle(int(input()), int(input()))
    elif shape == 'rectangle':
        return rectangle(int(input()), int(input()))
    elif shape == 'circle':
        return circle(int(input()))
    else:
        return "ERROR"
print(area(input()))

circle
4
{'circle': 50.24}

### Написать программу, которая на вход получает два числа и операцию, которую к ним нужно применить. Должны быть реализованы следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в степень

In [9]:
def counter(a, b, operation):
    if operation == '+':
        return a+b
    elif operation == '-':
        return a-b
    elif operation == '/':
        return a/b
    elif operation == '//':
        return a//b
    elif operation == 'abs':
        return abs(a-b)
    elif operation == 'pow' or '**':
        return a**b
    else:
        return 'ERROR'

In [10]:
print(counter(int(input()), int(input()), input()))

4
5
-
-1

### Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и после этого выводит сумму квадратов всех считанных чисел.

In [13]:
n = int(input())
s = n*n
while n != 0:
    m = int(input())
    n += m
    s += m*m
print(s)

5
1
-6
62

### Напишите программу, которая выводит последовательность чисел, длинною N, где каждое число повторяется столько раз, чему оно равно. На вход программе передаётся неотрицательное целое число N. Например, если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка через пробел – print(*list).

In [29]:
def lst(n):
    lst = []
    for i in range(n):
        for j in range(i):
            lst.append(i)
            if len(lst) == n:
                return lst

In [57]:
print(*lst(int(input())))

5
1 2 2 3 3

### А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
### В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
### Создать словарь, в котором ключи – это содержимое списка В, а значения для ключей словаря – это сумма всех элементов списка А в соответствии с буквой, содержащийся на той же позиции в списке В. Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.

In [37]:
a = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
b = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

In [38]:
dct = {}
for i in range(len(a)):
    if b[i] in dct: 
        dct[b[i]] += a[i]
    else:
        dct[b[i]] = a[i]
print(dct)

{'a': 17, 'b': 11, 'c': 17}

In [39]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)

### Использовать метод info().

In [42]:
data.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

### Узнать, есть ли пропущенные значения, используя isna().sum()

In [43]:
data.data.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

### Вывести записи, где средний возраст домов в районе более 50 лет и население более 2500 человек, используя метод loc()

In [48]:
df = data.data
df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41

### Узнать максимальное и минимальное значения медианной стоимости дома.

In [49]:
df.MedInc.min()

0.4999

In [50]:
df.MedInc.max()

15.0001

### Используя метод apply(), вывести на экран название признака и его среднее значение.

In [54]:
df.apply(lambda x: x.mean())

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64